body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.setup {
    margin: 10px;
}

#container {
    border: solid;
    border-color: black;
    display: flex;
    flex: 0 0 auto;
    width: 600px;
    height: 600px;
    justify-content: center;
}

.square {
    border: solid;
    box-sizing: border-box;
    border-color: rgba(128, 128, 128, 0.345);
    border-width: 1px;

}